.stacked-div {
  background-color: #f8f8fa;
  height: auto;
  left: 0px;
  padding-left: 90px;
  position: absolute;
  text-align: left;
  top: 230px;
  width: 20%;
}

.h1, h2, p, li {
  font-family: 'LucidaGrande';
  letter-spacing: 1px;
  line-height: 1.6;
}

p, li {
  font-size: 18px;
}

p,li {
  font-size: 18px;
}

