.stackedDiv{
  width: 20%;
  height: auto;
  text-align: left;
  padding-left: 90px;
  position: absolute;
  top: 230px;
  left: 0px;
  background-color: #f8f8fa;
}

.h1,h2,p,li{
  font-family: 'LucidaGrande';
  line-height: 1.6;
  letter-spacing: 1px;
}
