.checkout {
  width: 55%;
  height: 700px;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px 50px;
  text-align: center;
  overflow-y: auto;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 20px gainsboro;
      box-shadow: 0 0 20px gainsboro;
  background-color: white;
}
