.footerDiv{
  background-color:black;
  height:auto;
  padding-top: 80px;
  padding: 0px 100px;
  padding-bottom: 50;
  margin-top: 130px;
}
.footerHeading{
  color: white;
  font-family: 'LucidaGrande';
  font-size: 30px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  padding: 10px;
  text-align: left;
  flex: 40%;
  margin-right: 70px;
}

.flex-item-middle {
  padding: 10px;
  text-align: left;
  flex: 40%;
}

.flex-item-right {
  text-align: left;
  padding: 10px;
  flex: 20%;
}
.footerSocialIcons{
  color: white;

}
.emailcontainer {
  padding: 10px 0px;
  background-color: black;
}
.forwardbtn {
  background-image: linear-gradient(to right,#7a7ffb , #87effb);
  border: none;
  margin: 0px;
  font-size: 12px;
  color: white;
  border-radius: 3px;
}
.p1 {
  font-family: sans-serif;
  font-size:16px;
  color: grey;
  line-height: 1.6;

}
.footerIcons{
  font-size: 40px;
  color: gray;
  padding-left: 0px;
  padding-right: 20px;

}
